name: Build and push on githubpackages
on:
  push:
    tags:
      - "v*.*.*"
jobs:
    build_push_github_packages:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout this repoo
          uses: actions/checkout@v4 
        - name: Docker meta
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: |
              ghcr.io/syrinedev123/githubpackages
            tags: |
              type=ref,event=branch  
              type=ref,event=pr
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}
        - name: set up qemu
          uses: docker/setup-qemu-action@v2

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{github.repository_owner}}
            password: ${{ secrets.GHCR_TOKEN }} 

        - name: build and push docker image
          uses: docker/build-push-action@v6
          with:
            context: .
            push: true
            tags: ${{steps.meta.outputs.tags}}
         





